extends /layout/layout

block content
  .fh5co-hero
    .fh5co-overlay
      .tabulation.animate-box(style='margin-top:3em; width:25%; margin-left:3em; height:85%')
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
          
        // Tab panes
        .tab-content
          #flights.tab-pane.active(role='tabpanel')
            .row
              .col-sm-12.mt
                section
                  label(for='class') 차트 타입
                  select.cs-select.cs-skin-border
                    option(value='', disabled='', selected='') LINE
                    option(value='economy') LINEAREA
                    option(value='first') CANDLE
                    option(value='business') BAR
              .col-sm-12.col-xs-6.mt
                section
                  label 데이터 타입
                  div                    
                    label.lbl1(for="period") 기간
                    input.rdbx1#period(type='radio', name="dataType" checked)
                    label.lbl1(for="count") 갯수
                    input.rdbx1#count(type='radio', name="dataType")              
              .col-xxs-12.col-xs-6.mt
                .input-field
                  label(for='from') 데이터 최소 갯수
                  input#from-place.form-control(type='text', placeholder='200')
              .col-xxs-12.col-xs-6.mt
                .input-field
                  label(for='from') 데이터 최대 갯수
                  input#to-place.form-control(type='text', placeholder='500')
              .col-xxs-12.col-xs-6.mt.alternate(style='display:none;')
                .input-field
                  label(for='date-start') 시작 날짜
                  input#date-start.form-control(type='text', placeholder='mm/dd/yyyy')
              .col-xxs-12.col-xs-6.mt.alternate(style='display:none;')
                .input-field
                  label(for='date-end') 종료 날짜
                  input#date-end.form-control(type='text', placeholder='mm/dd/yyyy')              
              .col-xxs-12.col-xs-6.mt
                section
                  label(for='class') Adult:
                    select.cs-select.cs-skin-border
                      option(value='', disabled='', selected='') 1
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
              .col-xxs-12.col-xs-6.mt
                section
                  label(for='class') Children:
                    select.cs-select.cs-skin-border
                      option(value='', disabled='', selected='') 1
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
              .col-xs-12
                input.btn.btn-primary.btn-block(type='submit', value='Make Chart')          
  script(src='/js/apiMenu/highcharts.js')