doctype html
html
  head
    title Login V7
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include auth_headerInclude
  body
    block content
    include auth_scripts
