footer
  .container
    .col-md-4.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
      h4 About Us
      p
        | Day is tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum mas justo sitters.
      .contact-info
        ul
          li
            i.fa.fa-home.fa
            | Suite 54 Elizebth Street, Victoria State Newyork, USA
          li
            i.fa.fa-phone.fa
            |  +38 000 129900
          li
            i.fa.fa-envelope.fa
            |  info@domain.net
    .col-md-4.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms')
      .text-center
        h4 Photo Gallery
        ul.sidebar-gallery
          li
            a(href='#')
              img(src='img/gallery1.png', alt='')
          li
            a(href='#')
              img(src='img/gallery2.png', alt='')
          li
            a(href='#')
              img(src='img/gallery3.png', alt='')
          li
            a(href='#')
              img(src='img/gallery4.png', alt='')
          li
            a(href='#')
              img(src='img/gallery5.png', alt='')
          li
            a(href='#')
              img(src='img/gallery6.png', alt='')
    .col-md-4.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='900ms')
      div
        h4 Newsletter Registration
        p
          | Subscribe today to receive the latest Day news via email. You may unsubscribe from this service at any time
        .btn-gamp
          input#exampleInputEmail3.form-control(type='email', placeholder='Enter Email')
        .btn-gamp
          a.btn.btn-default(type='submit') Subscribe
.sub-footer
  .container
    .social-icon
      .col-md-4
        ul.social-network
          li
            a.fb.tool-tip(href='#', title='Facebook')
              i.fa.fa-facebook
          li
            a.twitter.tool-tip(href='#', title='Twitter')
              i.fa.fa-twitter
          li
            a.gplus.tool-tip(href='#', title='Google Plus')
              i.fa.fa-google-plus
          li
            a.linkedin.tool-tip(href='#', title='Linkedin')
              i.fa.fa-linkedin
          li
            a.ytube.tool-tip(href='#', title='You Tube')
              i.fa.fa-youtube-play
    .col-md-4.col-md-offset-4
      .copyright
        | © Day 2015 by 
        a(target='_blank', href='http://bootstraptaste.com/', title='Free Twitter Bootstrap WordPress Themes and HTML templates') Bootstrap Themes
        | .All Rights Reserved.
      //
        All links in the footer should remain intact.
        Licenseing information is available at: http://bootstraptaste.com/license/
        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Day
