header#fh5co-header-section.sticky-banner
  .container
    .nav-header
      a.js-fh5co-nav-toggle.fh5co-nav-toggle.dark(href='#')
        i
      h1#fh5co-logo
        a(href='index.html')
          i.icon-airplane
          | Travel
      // START #fh5co-menu-wrap
      nav#fh5co-menu-wrap(role='navigation')
        ul#fh5co-primary-menu.sf-menu
          li.active
            a(href='index.html') Home
          li
            a.fh5co-sub-ddown(href='vacation.html') Vacations
            ul.fh5co-sub-menu
              li
                a(href='#') Family
              li
                a(href='#') CSS3 & HTML5
              li
                a(href='#') Angular JS
              li
                a(href='#') Node JS
              li
                a(href='#') Django & Python
          li
            a(href='flight.html') Flights
          li
            a(href='hotel.html') Hotel
          li
            a(href='car.html') Car
          li
            a(href='blog.html') Blog
          li
            a(href='contact.html') Contact
          li
            a#loginBtn(href='#') Login            
    .dim-layer
      .dimBg
      #layer2.pop-layer
        .pop-container
          .pop-conts
            // content //
            form(action='/auth/login', method='post')
            .col-sm-12.mt
              section
                label(for='loginAccount') ACCOUNT
                input#loginAccount(type='text', placeholder='ID를 입력하세요')
            .col-sm-12.mt
              section
                label(for='loginPassword') PASSWORD
                input#loginPassword(type='password', placeholder='비밀번호를 입력하세요')
            //p.ctxt.mb20
              | Thank you.
              br
              |                     Your registration was submitted successfully.
              br
              |                     Selected invitees will be notified by e-mail on JANUARY 24th.
              br
              br
              |                     Hope to see you soon!            
            .btn-login
              a.btn-layerLogin.btn-a(href='#') Login
              a.btn-layerClose.btn-a(href='#') Close
script(src="js/auth/login.js")                        