header#fh5co-header-section.sticky-banner
  .container
    .nav-header
      a.js-fh5co-nav-toggle.fh5co-nav-toggle.dark(href='#')
        i
      h1#fh5co-logo
        a(href='index.html')
          i.fab.fa-node.fa-lg.fa-spin(style="font-size:50px; top: -19px;left: -45px; color:#79B361; font-weight:100;")          
          | Travel
      // START #fh5co-menu-wrap
      nav#fh5co-menu-wrap(role='navigation')
        ul#fh5co-primary-menu.sf-menu
          if !user
            li
              a(href='/login') Login
          else            
            li
              a#logoutBtn(href='#') Logout
          li.active
            a(href='/') Home
          li(style='padding-right:0.75em')
            a.fh5co-sub-ddown(href='#') API
            ul.fh5co-sub-menu
              li
                a(href='/apiMenu/highcharts') Highcharts              
          li
            a(href='flight.html') Flights
          li
            a(href='hotel.html') Hotel
          li
            a(href='car.html') Car
          li
            a(href='blog.html') Blog
          li
            a(href='contact.html') Contact
script(src='/js/layout/header.js')