header#header
  nav.navbar.navbar-default.navbar-static-top(role='banner')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-brand
          a(href='index.html')
            h1 Day
      .navbar-collapse.collapse
        .menu
          ul.nav.nav-tabs(role='tablist')
            li(role='presentation')
              a.active(href='index.html') Home
            li(role='presentation')
              a(href='about.html') About Us
            li(role='presentation')
              a(href='services.html') Services
            li(role='presentation')
              a(href='gallery.html') Gallery
            li(role='presentation')
              a(href='contact.html') Contact