header#fh5co-header-section.sticky-banner
  .container
    .nav-header
      a.js-fh5co-nav-toggle.fh5co-nav-toggle.dark(href='#')
        i
      h1#fh5co-logo
        a(href='index.html')
          i.icon-airplane
          | Travel
      // START #fh5co-menu-wrap
      nav#fh5co-menu-wrap(role='navigation')
        ul#fh5co-primary-menu.sf-menu
          li.active
            a(href='index.html') Home
          li
            a.fh5co-sub-ddown(href='vacation.html') Vacations
            ul.fh5co-sub-menu
              li
                a(href='#') Family
              li
                a(href='#') CSS3 & HTML5
              li
                a(href='#') Angular JS
              li
                a(href='#') Node JS
              li
                a(href='#') Django & Python
          li
            a(href='flight.html') Flights
          li
            a(href='hotel.html') Hotel
          li
            a(href='car.html') Car
          li
            a(href='blog.html') Blog
          li
            a(href='contact.html') Contact
          li
            a(href='login.html') Login