link(href='/css/bootstrap.min.css', rel='stylesheet')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/animate.css')
link(href='/css/animate.min.css', rel='stylesheet')
link(href='/css/style.css', rel='stylesheet')