script(src='js/common/jquery.min.js')
// jQuery Easing
script(src='js/common/jquery.easing.1.3.js')
// Bootstrap
script(src='js/common/bootstrap.min.js')
// Waypoints
script(src='js/common/jquery.waypoints.min.js')
script(src='js/common/sticky.js')
// Stellar
script(src='js/common/jquery.stellar.min.js')
// Superfish
script(src='js/common/hoverIntent.js')
script(src='js/common/superfish.js')
// Magnific Popup
script(src='js/common/jquery.magnific-popup.min.js')
script(src='js/common/magnific-popup-options.js')
// Date Picker
script(src='js/common/bootstrap-datepicker.min.js')
// CS Select
script(src='js/common/classie.js')
script(src='js/common/selectFx.js')
// Main JS
script(src='js/common/main.js')
