.slider
  #about-slider
    #carousel-slider.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators.visible-xs
        li.active(data-target='#carousel-slider', data-slide-to='0')
        li(data-target='#carousel-slider', data-slide-to='1')
        li(data-target='#carousel-slider', data-slide-to='2')
      .carousel-inner
        .item.active
          img.img-responsive(src='/img/2.jpg', alt='')
          .carousel-caption
            .wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.3s')
              h2
                span Clean & Modern Design Template
            .col-md-10.col-md-offset-1
              .wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.6s')
                p Lorem ipsum dolor sit amet consectetur adipisicing
            .wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.9s')
              form.form-inline
                .form-group
                  button.btn.btn-primary.btn-lg(type='livedemo', name='Live Demo', required='required') Live Demo
                .form-group
                  button.btn.btn-primary.btn-lg(type='getnow', name='Get Now', required='required') Get Now
        .item
          img.img-responsive(src='/img/2.jpg', alt='')
          .carousel-caption
            .wow.fadeInUp(data-wow-offset='0', data-wow-delay='1.0s')
              h2 Fully Responsive
            .col-md-10.col-md-offset-1
              .wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.6s')
                p Lorem ipsum dolor sit amet consectetur adipisicing
            .wow.fadeInUp(data-wow-offset='0', data-wow-delay='1.6s')
              form.form-inline
                .form-group
                  button.btn.btn-primary.btn-lg(type='livedemo', name='purchase', required='required') Live Demo
                .form-group
                  button.btn.btn-primary.btn-lg(type='getnow', name='subscribe', required='required') Get Now
        .item
          img.img-responsive(src='/img/2.jpg', alt='')
          .carousel-caption
            .wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.3s')
              h2 Modern Design
            .col-md-10.col-md-offset-1
              .wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.6s')
                p Lorem ipsum dolor sit amet consectetur adipisicing
            .wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.9s')
              form.form-inline
                .form-group
                  button.btn.btn-primary.btn-lg(type='livedemo', name='purchase', required='required') Live Demo
                .form-group
                  button.btn.btn-primary.btn-lg(type='getnow', name='subscribe', required='required') Get Now
      a.left.carousel-control.hidden-xs(href='#carousel-slider', data-slide='prev')
        i.fa.fa-angle-left
      a.right.carousel-control.hidden-xs(href='#carousel-slider', data-slide='next')
        i.fa.fa-angle-right
