.footer-top
    .container
        .row
            .col-sm-2
                .companyinfo
                    h2
                        span e
                        | -shopper
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor
            .col-sm-7
                .col-sm-3
                    .video-gallery.text-center
                        a(href='#')
                            .iframe-img
                                img(src='/images/home/iframe1.png', alt='')
                            .overlay-icon
                                i.fa.fa-play-circle-o
                        p Circle of Hands
                        h2 24 DEC 2014
                .col-sm-3
                    .video-gallery.text-center
                        a(href='#')
                            .iframe-img
                                img(src='/images/home/iframe2.png', alt='')
                            .overlay-icon
                                i.fa.fa-play-circle-o
                        p Circle of Hands
                        h2 24 DEC 2014
                .col-sm-3
                    .video-gallery.text-center
                        a(href='#')
                            .iframe-img
                                img(src='/images/home/iframe3.png', alt='')
                            .overlay-icon
                                i.fa.fa-play-circle-o
                        p Circle of Hands
                        h2 24 DEC 2014
                .col-sm-3
                    .video-gallery.text-center
                        a(href='#')
                            .iframe-img
                                img(src='/images/home/iframe4.png', alt='')
                            .overlay-icon
                                i.fa.fa-play-circle-o
                        p Circle of Hands
                        h2 24 DEC 2014
            .col-sm-3
                .address
                    img(src='/images/home/map.png', alt='')
                    p 505 S Atlantic Ave Virginia Beach, VA(Virginia)
