.header_top
    // header_top
    .container
        .row
            .col-sm-6
                .contactinfo
                    ul.nav.nav-pills
                        li
                            a(href='#')
                                i.fa.fa-phone
                                |  +2 95 01 88 821
                        li
                            a(href='#')
                                i.fa.fa-envelope
                                |  info@domain.com
            .col-sm-6
                .social-icons.pull-right
                    ul.nav.navbar-nav
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                        li
                            a(href='#')
                                i.fa.fa-linkedin
                        li
                            a(href='#')
                                i.fa.fa-dribbble
                        li
                            a(href='#')
                                i.fa.fa-google-plus
// /header_top
