.header-bottom
    // header-bottom
    .container
        .row
            .col-sm-9
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .mainmenu.pull-left
                    ul.nav.navbar-nav.collapse.navbar-collapse
                        li
                            a.active(href='index.html') Home
                        li.dropdown
                            a(href='#')
                                | Shop
                                i.fa.fa-angle-down
                            ul.sub-menu(role='menu')
                                li
                                    a(href='shop.html') Products
                                li
                                    a(href='product-details.html') Product Details
                                li
                                    a(href='checkout.html') Checkout
                                li
                                    a(href='cart.html') Cart
                                li
                                    a(href='login.html') Login
                        li.dropdown
                            a(href='#')
                                | Blog
                                i.fa.fa-angle-down
                            ul.sub-menu(role='menu')
                                li
                                    a(href='blog.html') Blog List
                                li
                                    a(href='blog-single.html') Blog Single
                        li
                            a(href='404.html') 404
                        li
                            a(href='contact-us.html') Contact
            .col-sm-3
                .search_box.pull-right
                    input(type='text', placeholder='Search')
// /header-bottom
