block head
  title His name is NY
  link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='stylesheets/ionicons.min.css')
  link(rel='stylesheet' href='stylesheets/owl.carousel.css')
  link(rel='stylesheet' href='stylesheets/owl.theme.css')
  link(rel='stylesheet' href='stylesheets/owl.transitions.css')
  link(rel='stylesheet' href='stylesheets/magnific-popup.css')
  link(rel='stylesheet' href='stylesheets/style.css')
  link(rel='stylesheet' href='stylesheets/color-default.css')