extends layout

block content
  #preloader
  .loader
    img(src='images/load.gif', alt='symp')
  #wrapper
    section.front-section
      .container
        .transition-mask
        .front-person-img
          img(src='images/man1.png', alt='Symp')
        .front-person-titles
          span.t1
            | Designer
          span.t2
            | Gamer guy
          span.t3
            | Freelancer
        nav.front-person-links
          ul
            li
              a(href='#', data-section='about') About Me
            li
              a(href='#', data-section='resume') Resume
            li
              a(href='#', data-section='services') Services
            li
              a(href='#', data-section='portfolio') Portfolio
            li
              a(href='#', data-section='blog') My Blog
            li
              a(href='#', data-section='contact') Contact
            li
              a(href='#') Hire Me!
        .front-heading.text-center
          h2
            | Johny Doe
    | 1			
    section#about.about-section.section
      .basic-info.section-block
        .container
          .section-header.text-center
            h2 Basic Info About Me
            .divider-draft.center
          .row
            .col-md-4
              .about-person-img
                img(src='images/man2.png', alt='symp')
            .col-md-8.about-info
              p
                | Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cum dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Te cum tation munere noluisse. Enim torquatos ne pri, eum mollis salutandi corrumpit et, fugit apeirian duo ad. Ad oportere voluptatibus nec, sea ei civibus praesent. At timeam expetenda inciderint has. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero cum. Solet honestatis et eum. Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem an, cum dicta iriure at. Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed, pri zril ubique ut. Te cum tation munere noluisse. Enim torquatos ne pri, eum mollis salutandi corrumpit et, fugit apeirian duo ad.
              .clearfix
              ul.info-list
                li
                  .inner
                    h4 Name
                    p Johny Doe
                li
                  .inner
                    h4 Age
                    p 24 Years
                li
                  .inner
                    h4 Website
                    p example.com
                li
                  .inner
                    h4 Hometown
                    p Dokri
              a.symp-btn(href='#') Hire Me For Work
              a.symp-btn.link-btn(href='#')
                i.ion-ios-download
                | Download Resume
      .about-icons.section-block
        .container
          .row
            .col-md-3
              .service
                .icon
                  i.ion-ios-lightbulb
                .content
                  h4 Creative
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-trophy
                .content
                  h4 Winner
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-ios-glasses
                .content
                  h4 Smart
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-ios-bolt
                .content
                  h4 Powerful
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-help-buoy
                .content
                  h4 Helper
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-happy
                .content
                  h4 Intelligent
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-ios-game-controller-b
                .content
                  h4 Gamer
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-ios-pulse-strong
                .content
                  h4 Healthy
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
      .funfacts-block.section-block(data-stellar-background-ratio='.2')
        .container
          .row
            .col-md-3.col-sm-6.funfact
              .content
                h4 243
                p Awards Won
            .col-md-3.col-sm-6.funfact
              .content
                h4 845
                p Happy Customers
            .col-md-3.col-sm-6.funfact
              .content
                h4 938
                p Projects Done
            .col-md-3.col-sm-6.funfact
              .content
                h4 342
                p Games Played
      .testimonials-block.section-block
        .container
          .section-header.text-center
            h2.animate.text-over-block Testimonials
            // divider
            .divider-draft.center
            // /divider
          .row
            .col-md-8.col-md-offset-2
              .testimonials-slider
                .testimonial
                  p
                    | Ad optere volibus nec, sea ei civibus prasent. At timeam expetenda inciderint has. Invidunt constituto ne per, paulo omnium queum his eu, cu congue consul cetero. Invidunt constituto ne per, paulo omnium his eu, cu congue consul cetero.
                  .author
                    h4 Jack Smith
                    p CEO at Google
                .testimonial
                  p
                    | Ad oportere voluptatibus nec, sea ei civibus praesent. At timeam expetenda inciderint has. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero.
                  .author
                    h4 Jessica Smith
                    p CEO at Google
                .testimonial
                  p
                    | Ad oportere voluptatibus nec, sea ei civibus praesent. At timeam expetenda inciderint has. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero.
                  .author
                    h4 Jim Smith
                    p CEO at Google
      .footer.bg-lightgray.section-block
        .container
          .row
            .col-xs-6.text-left
              h4 Johny Doe
            .col-xs-6.text-right
              ul.footer-social
                li
                  a(href='#')
                    i.ion-social-facebook
                li
                  a(href='#')
                    i.ion-social-twitter
                li
                  a(href='#')
                    i.ion-social-pinterest
                li
                  a(href='#')
                    i.ion-social-dribbble
    section#resume.resume-section.section
      .container
        .row
          .col-md-6.col-md-offset-3
            .section-header.text-center
              h2.animate.text-over-block My Resume
              .divider-draft.center
      .timeline-block.section-block
        .container
          ul.timeline
            li.timeline-header
              h4 Education
            li
              .timeline-desc
                h4 2005-2007
              .timeline-content
                h4 Masters Degree
                span @CSS College Larkana
                p
                  | Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
            li.inverse
              .timeline-desc
                h4 2005-2007
              .timeline-content
                h4 Masters Degree
                span @CSS College Larkana
                p
                  | Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
            li
              .timeline-desc
                h4 2005-2007
              .timeline-content
                h4 Masters Degree
                span @CSS College Larkana
                p
                  | Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
            li.timeline-header
              h4 Experience
            li
              .timeline-desc
                h4 2005-2007
              .timeline-content
                h4 Web Designer
                span @Themeforest
                p
                  | Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
            li.inverse
              .timeline-desc
                h4 2005-2007
              .timeline-content
                h4 Web Developer
                span @CodeCanyon
                p
                  | Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
            li
              .timeline-desc
                h4 2005-2007
              .timeline-content
                h4 Blogger
                span @blogspot
                p
                  | Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo.
      .hobbies-block.bg-lightgray.section-block
        .container
          .section-header.text-center
            h2.animate.text-over-block My Hobbies
            .divider-draft.center
          .row
            .col-md-2.col-sm-4.col-xs-6
              .hobby
                .icon
                  i.ion-ios-game-controller-b
                h4 Gaming
            .col-md-2.col-sm-4.col-xs-6
              .hobby
                .icon
                  i.ion-ios-book
                h4 Reading
            .col-md-2.col-sm-4.col-xs-6
              .hobby
                .icon
                  i.ion-ios-chatboxes
                h4 Chat
            .col-md-2.col-sm-4.col-xs-6
              .hobby
                .icon
                  i.ion-ios-musical-notes
                h4 Music
            .col-md-2.col-sm-4.col-xs-6
              .hobby
                .icon
                  i.ion-beer
                h4 Drinking
            .col-md-2.col-sm-4.col-xs-6
              .hobby
                .icon
                  i.ion-ios-football
                h4 Football
      .skills-block.section-block
        .container
          .section-header.text-center
            h2.animate.text-over-block My Skills
            .divider-draft.center
          .row
            .col-md-6
              .skill
                h4 HTML/CSS
                .skill-bar(data-percent='90')
                  .bar
                    .percent 90%
              .skill
                h4 php
                .skill-bar(data-percent='70')
                  .bar
                    .percent 70%
              .skill
                h4 HTML/CSS
                .skill-bar(data-percent='90')
                  .bar
                    .percent 90%
            .col-md-6
              .skill
                h4 VB
                .skill-bar(data-percent='90')
                  .bar
                    .percent 90%
              .skill
                h4 Wordpress
                .skill-bar(data-percent='85')
                  .bar
                    .percent 85%
              .skill
                h4 SEO
                .skill-bar(data-percent='95')
                  .bar
                    .percent 95%
      .footer.bg-lightgray.section-block
        .container
          .row
            .col-xs-6.text-left
              h4 Johny Doe
            .col-xs-6.text-right
              ul.footer-social
                li
                  a(href='#')
                    i.ion-social-facebook
                li
                  a(href='#')
                    i.ion-social-twitter
                li
                  a(href='#')
                    i.ion-social-pinterest
                li
                  a(href='#')
                    i.ion-social-dribbble
    section#services.services-section.section
      .container
        .row
          .col-md-6.col-md-offset-3
            .section-header.main-title.text-center
              h2.animate.text-over-block My Services
              .divider-draft.center
              p
                | I provide 
                b high quality
                |  services. My services that I provide are listed below. Hope you will like them. Lorem ipsum dolor.
      .services-block.section-block
        .container
          .row
            .col-md-3
              .service
                .icon
                  i.ion-ios-camera
                .content
                  h4 Photography
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-code
                .content
                  h4 Coding
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-ios-lightbulb
                .content
                  h4 Creativity
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-ios-monitor
                .content
                  h4 Web Design
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
          .row
            .col-md-3
              .service
                .icon
                  i.ion-ios-camera
                .content
                  h4 Photography
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-code
                .content
                  h4 Coding
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-ios-lightbulb
                .content
                  h4 Creativity
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
            .col-md-3
              .service
                .icon
                  i.ion-ios-monitor
                .content
                  h4 Web Design
                  p
                    | Ut aboramus, numquam corpora qui naex. Dolore aliquando id duo, voluptua laboramus quo ad.
      .pricing-block.section-block
        .container
          .section-header.text-center
            h2.animate.text-over-block Pricing
            .divider-draft.center
            p
              | How much I charge
          .row
            .col-md-4.text-center
              .pricing-table
                .header
                  h4 Personal
                  .price
                    span.currency $
                    span.amount 29
                    span.period /mo
                ul.table-items
                  li
                    | Logo Design
                  li
                    | PSD to HTML
                  li
                    | Fixed to Responsive
                  li
                    | App Development
                  li
                    | Photography
                a.table-btn(href='#')
                  | Choose This
            .col-md-4.text-center
              .pricing-table
                .header
                  h4 Creative
                  .price
                    span.currency $
                    span.amount 39
                    span.period /mo
                ul.table-items
                  li
                    | Logo Design
                  li
                    | PSD to HTML
                  li
                    | Fixed to Responsive
                  li
                    | App Development
                  li
                    | Photography
                a.table-btn(href='#')
                  | Choose This
            .col-md-4.text-center
              .pricing-table
                .header
                  h4 Ultimate
                  .price
                    span.currency $
                    span.amount 42
                    span.period /mo
                ul.table-items
                  li
                    | Logo Design
                  li
                    | PSD to HTML
                  li
                    | Fixed to Responsive
                  li
                    | App Development
                  li
                    | Photography
                a.table-btn(href='#')
                  | Choose This
      .process-block.bg-lightgray.section-block
        .container
          .section-header.text-center
            h2 Work Process
            .divider-draft.center
          .row
            .col-md-3
              .process
                .number
                  span 01
                .content
                  h4 Design
                  p
                    | Lorem ipsum dolor sit amet is simply a dummy text used by typeset industries. Lorem ipsum dolor.
            .col-md-3
              .process
                .number
                  span 02
                .content
                  h4 Develop
                  p
                    | Lorem ipsum dolor sit amet is simply a dummy text used by typeset industries. Lorem ipsum dolor.
            .col-md-3
              .process
                .number
                  span 03
                .content
                  h4 Publish
                  p
                    | Lorem ipsum dolor sit amet is simply a dummy text used by typeset industries. Lorem ipsum dolor.
            .col-md-3
              .process.last
                .number
                  span 04
                .content
                  h4 Enjoy
                  p
                    | Lorem ipsum dolor sit amet is simply a dummy text used by typeset industries. Lorem ipsum dolor.
      .testimonials-block.section-block
        .container
          .section-header.text-center
            h2.animate.text-over-block Testimonials
            .divider-draft.center
          .row
            .col-md-8.col-md-offset-2
              .testimonials-slider
                .testimonial
                  p
                    | Ad oportere voluptatibus nec, sea ei civibus praesent. At timeam expetenda inciderint has. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero.
                  .author
                    h4 Jack Smith
                    p CEO at Google
                .testimonial
                  p
                    | Ad oportere voluptatibus nec, sea ei civibus praesent. At timeam expetenda inciderint has. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero.
                  .author
                    h4 Jessica Smith
                    p CEO at Google
                .testimonial
                  p
                    | Ad oportere voluptatibus nec, sea ei civibus praesent. At timeam expetenda inciderint has. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero. Invidunt constituto ne per, paulo omnium quaerendum his eu, cu congue consul cetero.
                  .author
                    h4 Jim Smith
                    p CEO at Google
      .footer.bg-lightgray.section-block
        .container
          .row
            .col-xs-6.text-left
              h4 Johny Doe
            .col-xs-6.text-right
              ul.footer-social
                li
                  a(href='#')
                    i.ion-social-facebook
                li
                  a(href='#')
                    i.ion-social-twitter
                li
                  a(href='#')
                    i.ion-social-pinterest
                li
                  a(href='#')
                    i.ion-social-dribbble
    section#portfolio.portfolio-section.section
      .portfolio-block.section-block
        .container
          .row
            .col-md-6.col-md-offset-3
              .section-header.text-center
                h2.animate.text-over-block Portfolio
                .divider-draft.center
                p
                  | Check out my works. Lorem ipsum dolor sit amet is simply a dummy text. Lorem ipsum dolor sit amet.
          #portfolio-filters
            ul
              li
                a.active(href='#', data-group='all') All
              li
                a(href='#', data-group='web') Web
              li
                a(href='#', data-group='tech') Tech
              li
                a(href='#', data-group='photography') Photography
          #portfolio-grid.portfolio-items
            .item(data-groups='["all","web","photography"]')
              .inner
                img(alt='symp', src='images/portfolio/1.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/1.jpg')
                          i.ion-ios-search
            .item(data-groups='["all","photography","tech"]')
              .inner
                img(alt='symp', src='images/portfolio/2.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/2.jpg')
                          i.ion-ios-search
            .item(data-groups='["all","web","tech"]')
              .inner
                img(alt='symp', src='images/portfolio/3.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/3.jpg')
                          i.ion-ios-search
            .item(data-groups='["all","web"]')
              .inner
                img(alt='symp', src='images/portfolio/4.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/4.jpg')
                          i.ion-ios-search
            .item(data-groups='["all","tech"]')
              .inner
                img(alt='symp', src='images/portfolio/5.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/5.jpg')
                          i.ion-ios-search
            .item(data-groups='["all","photography"]')
              .inner
                img(alt='symp', src='images/portfolio/6.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/6.jpg')
                          i.ion-ios-search
            .item(data-groups='["all","web"]')
              .inner
                img(alt='symp', src='images/portfolio/7.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/7.jpg')
                          i.ion-ios-search
            .item(data-groups='["all","tech"]')
              .inner
                img(alt='symp', src='images/portfolio/8.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/8.jpg')
                          i.ion-ios-search
            .item(data-groups='["all","photography"]')
              .inner
                img(alt='symp', src='images/portfolio/9.jpg')
                .caption
                  .caption-inner
                    h4 Project Title
                    ul.links
                      li
                        a(href='work.html')
                          i.ion-ios-plus-empty
                      li
                        a.image-link(href='images/portfolio/9.jpg')
                          i.ion-ios-search
      .footer.bg-lightgray.section-block
        .container
          .row
            .col-xs-6.text-left
              h4 Johny Doe
            .col-xs-6.text-right
              ul.footer-social
                li
                  a(href='#')
                    i.ion-social-facebook
                li
                  a(href='#')
                    i.ion-social-twitter
                li
                  a(href='#')
                    i.ion-social-pinterest
                li
                  a(href='#')
                    i.ion-social-dribbble
    section#blog.blog-section.section
      .container
        .row
          .col-md-6.col-md-offset-3
            .section-header.text-center
              h2 My Blog
              .divider-draft.center
              p
                | This is my blog where my thoughts live. Check it out to know more about me. Lorem ipsum dolor sit amet.
      .posts-block.section-block
        .container
          .row
            .col-md-8
              .post
                .media
                  img(alt='symp', src='images/bg2.jpg')
                .content
                  h4
                    a(href='post.html')
                      | Simple Post With Image
                  ul.post-icons
                    li
                      i.ion-ios-person
                      span Johny Doe
                    li
                      i.ion-ios-clock
                      span 14 June 2015
                    li
                      i.ion-ios-chatbubble
                      span 5
                  p
                    | Cu illud lorem putent vel. Eum in movet nostrum referrentur. His ne tantas tractatos. Sit eu saperet antiopam scripserit. Ei albucius consequuntur sea, no nominavi fabellas phaedrum his....
                  a.read-more(href='post.html')
                    | Read More
                    i.ion-ios-arrow-thin-right
              .post
                .media
                  img(alt='symp', src='images/bg2.jpg')
                .content
                  h4
                    a(href='post.html')
                      | Simple Post With Image
                  ul.post-icons
                    li
                      i.ion-ios-person
                      span Johny Doe
                    li
                      i.ion-ios-clock
                      span 14 June 2015
                    li
                      i.ion-ios-chatbubble
                      span 5
                  p
                    | Cu illud lorem putent vel. Eum in movet nostrum referrentur. His ne tantas tractatos. Sit eu saperet antiopam scripserit. Ei albucius consequuntur sea, no nominavi fabellas phaedrum his....
                  a.read-more(href='post.html')
                    | Read More
                    i.ion-ios-arrow-thin-right
              .post
                .media
                  img(alt='symp', src='images/bg2.jpg')
                .content
                  h4
                    a(href='post.html')
                      | Simple Post With Image
                  ul.post-icons
                    li
                      i.ion-ios-person
                      span Johny Doe
                    li
                      i.ion-ios-clock
                      span 14 June 2015
                    li
                      i.ion-ios-chatbubble
                      span 5
                  p
                    | Cu illud lorem putent vel. Eum in movet nostrum referrentur. His ne tantas tractatos. Sit eu saperet antiopam scripserit. Ei albucius consequuntur sea, no nominavi fabellas phaedrum his....
                  a.read-more(href='post.html')
                    | Read More
                    i.ion-ios-arrow-thin-right
              .post-more
                a.more-link(href='#')
                  | Load More
            .col-md-4
              .sidebar
                .sidebar-widget
                  .search-box
                    input.search-input(type='text', placeholder='Search')
                    a.search-btn(href='#')
                      i.ion-ios-search
                .sidebar-widget
                  .categories-widget
                    .widget-header
                      h4
                        i.ion-ios-folder
                        |  Categories
                    ul.sidebar-list
                      li
                        a(href='#') Web Design
                      li
                        a(href='#') Travel
                      li
                        a(href='#') Life Style
                      li
                        a(href='#') Photography
                      li
                        a(href='#') Technology
                .sidebar-widget
                  .widget-header
                    h4
                      i.ion-document
                      | 												Recent Posts
                  ul.sidebar-list
                    li
                      a(href='#')
                        | Your Recent Post's Title. Lorem ipsum dolor sit amet is simply a dummy text.
                    li
                      a(href='#')
                        | Your Recent Post's Title. Lorem ipsum dolor sit amet is simply a dummy text.
                    li
                      a(href='#')
                        | Your Recent Post's Title. Lorem ipsum dolor sit amet is simply a dummy text.
                    li
                      a(href='#')
                        | Your Recent Post's Title. Lorem ipsum dolor sit amet is simply a dummy text.
                .sidebar-widget
                  .widget-header
                    h4
                      i.ion-archive
                      | 												Archives
                    ul.sidebar-list
                      li
                        a(href='#')
                          | June (14)
                      li
                        a(href='#')
                          | July (10)
                      li
                        a(href='#')
                          | August(6)
                      li
                        a(href='#')
                          | September(7)
                .sidebar-widget
                  .widget-header
                    h4
                      i.ion-ios-pricetag
                      | 												Tags
                  ul.sidebar-list.list-inline
                    li
                      a(href='#') Design
                    li
                      a(href='#') Tech
                    li
                      a(href='#') Web
                    li
                      a(href='#') Modern
                    li
                      a(href='#') Photography
                    li
                      a(href='#') Life
                    li
                      a(href='#') App
                    li
                      a(href='#') Template
      .footer.bg-lightgray.section-block
        .container
          .row
            .col-xs-6.text-left
              h4 Johny Doe
            .col-xs-6.text-right
              ul.footer-social
                li
                  a(href='#')
                    i.ion-social-facebook
                li
                  a(href='#')
                    i.ion-social-twitter
                li
                  a(href='#')
                    i.ion-social-pinterest
                li
                  a(href='#')
                    i.ion-social-dribbble
    section#contact.contact-section.section
      .contact-block.section-block
        .container
          .row
            .col-md-6.col-md-offset-3
              .section-header.text-center
                h2.animate.text-over-block Contact Me
                .divider-draft.center
                p
                  | I'm available for freelancing. If you want something to be built or just to say hi, feel free to shoot me a message.
          .row
            .col-md-8.col-md-offset-2
              form#contact-form.contact-form(action='mail.php', method='post', data-toggle='validator')
                #contact-form-result
                .row
                  .col-md-6
                    .form-group
                      input.form-control(type='text', placeholder='Name', required='')
                      .help-block.with-errors
                  .col-md-6
                    .form-group
                      input.form-control(type='email', placeholder='Email', required='')
                      .help-block.with-errors
                .row
                  .col-md-6
                    .form-group
                      input.form-control(type='text', placeholder='Phone', required='')
                      .help-block.with-errors
                  .col-md-6
                    .form-group
                      input.form-control(type='text', placeholder='Website', required='')
                      .help-block.with-errors
                .form-group
                  textarea.form-control(rows='5', placeholder='Message', required='')
                  .help-block.with-errors
                .form-group.text-center
                  button.symp-btn(type='submit') Send Message
      .footer.bg-lightgray.section-block
        .container
          .row
            .col-xs-6.text-left
              h4 Johny Doe
            .col-xs-6.text-right
              ul.footer-social
                li
                  a(href='#')
                    i.ion-social-facebook
                li
                  a(href='#')
                    i.ion-social-twitter
                li
                  a(href='#')
                    i.ion-social-pinterest
                li
                  a(href='#')
                    i.ion-social-dribbble
    .close-btn
      span
      span
  script(src='javascripts/jquery.min.js')
  script(src='javascripts/jquery.stellar.min.js')
  script(src='javascripts/modernizr.js')
  script(src='javascripts/owl.carousel.min.js')
  script(src='javascripts/jquery.shuffle.min.js')
  script(src='javascripts/jquery.magnific-popup.min.js')
  script(src='javascripts/validator.min.js')
  script(src='javascripts/smoothscroll.js')
  script(src='javascripts/script.js')

  
  

  
        