extends /layout/layout

block content
  #fh5co-tours.fh5co-section-gray
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 글 목록
          p
          | 자유롭게 작성하실 수 있습니다.
      .row.lastRow
        .col-md-12.text-center.animate-box
          p
            a.btn.btn-primary.btn-outline.btn-lg#moreBtn(href='#')
              | 더 보기
              i.icon-arrow-right22
  if message
    script(type='text/javascript').
      alert('#{message}')
  script(src='/js/board/boardList.js')