extends /layout/layout

block content
  #fh5co-tours.fh5co-section-gray
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 제목
          input.ht40.wd100p.bdCr(type='text')         
      .row#summernote        
      .row
        .col-md-12.text-center.animate-box
          p
            a.btn.btn-primary.btn-outline.btn-lg(href='#')
              | See All Offers 
              i.icon-arrow-right22