extends /layout/layout

block content
  input#listNoVal(style="display:none;" value=content.listNo)
  #fh5co-tours.fh5co-section-gray
    .container
      form.contentForm(method="POST", action="/board/registBoard")
        .row
          .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
            h3 제목
            #boardTitle.fsz25 !{content.title}
        .row.mbt75
          .col-md-8.col-md-offset-2.text-left.heading-section.animate-box(style="margin-bottom:15px;")
            h3.mbt75(style='text-align:center') 내용
            #boardContents !{content.contents}   
      .row.lastRow
        .col-md-12.text-center.animate-box
          p
            a.btn.btn-primary.btn-outline.btn-lg(href='javascript:void(0);')
              | 댓글 달기
              i.icon-arrow-right22
          p
            a.btn.btn-primary.btn-outline.btn-lg(href='/board/boardList')
              | 돌아가기
              i.icon-arrow-right22
  #popup
  script(src='/js/board/viewBoard.js')